@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Merriweather:700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:500,600,700);
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/*--------------------*/
.header__wrapper-top {
   background-color: white;
   padding: 11px 14px;
}

.header__wrapper-bottom {
   background-color: #119769;
   padding: 10px 14px;
}

.header__content-top {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: (fit-content(400px)) [3];
   grid-template-columns: repeat(3, fit-content(400px));
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

@media (max-width: 843px) {
   .top-header__flag {
      display: none;
   }
}

@media (max-width: 730px) {
   .header__content-top {
      -ms-grid-columns: fit-content(400px) 48px;
      grid-template-columns: fit-content(400px) 48px;
      -ms-grid-rows: (fit-content(200px)) [2];
      grid-template-rows: repeat(2, fit-content(200px));
      grid-template-areas:
         "logo button"
         "links links";
      row-gap: 10px;
   }
   .top-header__flex-column {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: logo;
   }
   .top-header__nav-links {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-area: links;
      -ms-grid-column-align: center;
      justify-self: center;
      border-top: 1px solid #e3f3ed;
      width: 100%;
      text-align: center;
      padding-top: 10px;
   }
   .top-header__button {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
      grid-area: button;
   }
}

@media (max-width: 400px) {
   .top-header__logo-title {
      margin: 0 20px 0 9px;
   }
   .top-header__nav-link img {
      width: 34px;
   }
}

.top-header {
   max-width: 1180px;
   margin: 0 auto;
}

.top-header__flex-column {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.top-header__logo-title {
   margin: 0 30px 0 14px;
   font-family: Merriweather;
   font-size: calc(13px + 2 * (100vw / 1180));
   font-weight: 700;
   line-height: 130%;
   letter-spacing: 0em;
   text-align: left;
}

.top-header__flag,
.top-header__logo {
   pointer-events: none;
   width: 100%;
   height: 100%;
}

.top-header__nav-links {
   -ms-flex-item-align: center;
   -ms-grid-row-align: center;
   align-self: center;
}

.top-header__nav-link {
   margin: 3.5px;
}

.top-header__button {
   font-size: calc(13px + 2 * (100vw / 1180));
   font-weight: 600;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: left;
   background: #313131;
   color: white;
   padding: 9px 16px;
   text-transform: uppercase;
   border-radius: 3px;
   -ms-flex-item-align: center;
   align-self: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
}

.top-header__button:hover {
   background-color: #5a5a5a;
}

.top-header__button-icon {
   width: 32px;
   -ms-flex-item-align: center;
   -ms-grid-row-align: center;
   align-self: center;
   margin-right: 11px;
}

.top-header__button-text {
   -ms-flex-item-align: center;
   -ms-grid-row-align: center;
   align-self: center;
}

@media (max-width: 1064px) {
   .top-header__button {
      padding: 8px;
   }
   .top-header__button-text {
      display: none;
   }
   .top-header__button-icon {
      margin: 0;
   }
}

.bottom-header {
   max-width: 1180px;
   margin: 0 auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   position: relative;
}

.bottom-header__links {
   -ms-flex-item-align: center;
   -ms-grid-row-align: center;
   align-self: center;
}

.bottom-header__link:hover {
   border-bottom: 2px solid white;
}

.bottom-header__search-block {
   width: 495px;
   background: #137461;
   padding: 7px 15px;
   border-radius: 3px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   display: none;
   position: relative;
}

.bottom-header__search-field {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   background: none;
   font-size: calc(13px + 2 * (100vw / 1180));
   font-weight: 600;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: left;
   color: white;
}

.bottom-header input::-moz-placeholder {
   color: red;
}

.bottom-header input::-webkit-input-placeholder {
   color: white;
   opacity: 0.4;
}

.bottom-header__search-button {
   background: none;
   color: white;
   font-size: calc(13px + 2 * (100vw / 1180));
   font-weight: 600;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: right;
   text-transform: uppercase;
   position: absolute;
   right: 12px;
}

.bottom-header__search-button img {
   height: 22px;
}

.bottom-header__search-mini {
   -ms-flex-item-align: center;
   -ms-grid-row-align: center;
   align-self: center;
}

.bottom-header__mini-button {
   background: -webkit-gradient(linear, right top, left top, color-stop(86.07%, #119769), to(rgba(17, 151, 105, 0)));
   background: linear-gradient(270deg, #119769 86.07%, rgba(17, 151, 105, 0) 100%);
}

.bottom-header__mini-icon {
   height: 26px;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.nav-header {
   -ms-flex-item-align: center;
   -ms-grid-row-align: center;
   align-self: center;
}

.nav-header__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.nav-header__link,
.nav-header__burger-link {
   font-size: 15px;
   font-weight: 600;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: left;
   color: white;
   text-transform: uppercase;
   margin-right: 32px;
   white-space: nowrap;
   -webkit-transition: all 0.3s;
   transition: all 0.1s;
   border-bottom: 0px solid rgba(255, 255, 255, 0);
}

.nav-header__link:hover {
   border-bottom: 3px solid white;
}

@media (min-width: 973px) {
   .bottom-header__search-block {
      display: block;
   }
   .bottom-header__search-mini {
      display: none;
   }
}

.nav-header__burger-button {
   display: none;
   width: 36px;
   height: 24px;
   padding: 0;
   background: url(../img/icons/m-menu.png) center;
   position: absolute;
   left: 0px;
   top: 50%;
   -webkit-transform: translate(0, -50%);
   transform: translate(0, -50%);
}

.nav-header__burger-list {
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 5;
   background: #119769;
   width: 0;
   overflow-x: hidden;
   -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
   -webkit-transition: 0.5s;
   transition: 0.5s;
}

.nav-header__burger-list a {
   color: #ffffff;
   padding: 20px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: left;
   -ms-flex-align: left;
   align-items: left;
   font-size: calc(16px + 2 * (100vw / 1100));
}

.nav-header__burger-close {
   max-width: 100px;
}

@media screen and (min-width: 768px) {
   #menu-burger {
      display: none;
   }
}

@media (max-width: 768px) {
   #menu-burger {
      display: block;
   }
   .nav-header__burger-list,
   .nav-header__burger-button {
      z-index: 2;
      display: block;
   }
   .nav-header__item:not(:first-child) {
      display: none;
   }
}

body {
   font-family: "Open Sans";
}

.container {
   max-width: 1180px;
   margin: 0 auto;
}

/* ?Banner block */

.banner {
   padding: 20px 14px;
   position: relative;
}

.banner__wrapper {
   background: url(../img/banner_blocks/block-1.jpg) center no-repeat;
   background-size: cover;
   height: 140px;
   max-width: 1180px;
   margin: 0 auto;
}

.banner__wrapper img {
   object-fit: cover;
}

@media (max-width: 768px) {
   .banner__wrapper {
      background-position: right -370px top 0px;
   }
}

@media (max-width: 425px) {
   .banner {
      padding: 20px 0px;
   }

   .banner__wrapper {
      background-position: right -220px top 0px;
      height: 84px;
   }
}

/* ?release */
.release__wrapper {
   padding: 20px 14px;
}

.release__content {
   max-width: 1180px;
   margin: 0 auto;
   display: flex;
   gap: 15px;
   justify-content: space-between;
}

.tabs-release {
   max-width: 880px;
   flex: 1 1 100%;
}

.tabs-release__container {
   display: flex;
}

.tabs-release__title {
   font-family: Merriweather;
   font-size: calc(15px + 9 * (100vw / 1180));
   font-weight: 700;
   line-height: 130%;
   letter-spacing: 0em;
   text-align: left;
   padding-bottom: 10px;
   margin-right: 30px;
}

.tabs-release__tabs-list {
   display: flex;
   border-radius: 3px;
   background: #e3f3ed;
}

.tabs-release__tab {
   padding: 9px 16px 11px 16px;
   font-size: 15px;
   font-weight: 600;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: center;
   background-color: #11976800;
   border-radius: 3px 3px 0 0;
   text-transform: uppercase;
   color: #119769;
}

.tabs-release__tab._active {
   background-color: #119769;
   color: white;
}

.tabs-release__tab-content._active {
   display: block;
}

.tabs-release__tab-content {
   display: flex;
   max-width: 880px;
   position: relative;
   display: none;
}

.tabs-release__tab-content iframe {
   width: 100%;
   height: 100%;
   aspect-ratio: 16 / 9;
   border-radius: 3px;
}

.column-release__images {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.column-release__image {
   height: 100%;
   width: 280px;
}

.interview-release__nav-input {
   position: absolute;
   z-index: -1;
   opacity: 0;
}

.interview-release__nav-input + label {
   display: inline-flex;
   align-items: center;
   user-select: none;
}
.interview-release__nav-input + label::before {
   content: "";
   display: inline-block;
   padding: 6.5px;
   flex-shrink: 0;
   flex-grow: 0;
   border: 2px solid #119769;
   border-radius: 100%;
   margin-right: 0.5em;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 50% 50%;
}

.interview-release__nav-input:checked + label::before {
   background: url(../img/icons/checked.svg) center no-repeat;
   background-size: 9px;
}

.interview-release {
   padding: 15px 20px;
   max-width: 320px;
   background-color: #e3f3ed;
   border-radius: 3px;
   margin: 15px auto 0 auto;
}

.interview-release__title {
   font-family: Merriweather;
   font-size: 15px;
   font-weight: 700;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: left;
}

.interview-release__column {
   margin: 15px 0;
   display: flex;
   justify-content: space-between;
   gap: 10px;
}

.interview-release__item-nav {
   font-size: 13px;
   font-weight: 600;
   line-height: 14px;
   letter-spacing: 0em;
   text-align: left;
   margin: 7px 0;
}

.interview-release__button {
   font-size: 13px;
   font-weight: 600;
   text-transform: uppercase;
   line-height: 18px;
   letter-spacing: 0em;
   text-align: center;
   align-self: start;
   padding: 9px 15px;
   color: white;
   background-color: #119769;
   border-radius: 3px;
}
.interview-release__result {
   text-align: right;
}

.interview-release__result a {
   font-size: 13px;
   font-weight: 600;
   line-height: 18px;
   letter-spacing: 0em;
   text-transform: uppercase;
   color: #119769;
}

@media (max-width: 768px) {
   .content-release {
      flex-wrap: wrap;
   }

   .column-release__images {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
   }

   .column-release__image {
      height: 100%;
      width: 155px;
   }
}

@media (max-width: 456px) {
   .tabs-release__title {
      max-width: 100px;
   }

   .tabs-release__tabs-list {
      height: 40px;
      align-self: end;
   }

   .tabs-release__tab {
      height: 40px;
      align-self: end;
   }
}

@media (max-width: 350px) {
   .tabs-release__tab {
      padding: 4px 10px;
   }

   .tabs-release__tab.active {
      padding: 4px 10px;
   }
}
@media (max-width: 325px) {
   .tabs-release__tab {
      padding: 2px 7px;
   }

   .tabs-release__tab.active {
      padding: 2px 7px;
   }
}

/* ?headlings */
.headings {
   padding: 20px 14px;
}

.headings__wrapper {
   max-width: 1180px;
   margin: 0 auto;
}

.content-headings__column {
   display: flex;
   align-items: center;
   gap: 10px;
}

.content-headings__column:first-child {
   border-bottom: 1px solid #e3f3ed;
   margin-bottom: 20px;
   justify-content: space-between;
}

.content-headings__column:last-child {
   flex-wrap: wrap;
   justify-content: center;
}

.content-headings__title {
   font-family: Merriweather;
   font-size: calc(15px + 9 * (100vw / 1180));
   font-weight: 700;
   line-height: 130%;
   letter-spacing: 0em;
   text-align: left;
}

.content-headings__more {
   font-size: calc(13px + 2 * (100vw / 1180));
   font-weight: 600;
   line-height: 100%;
   letter-spacing: 0em;
   text-align: right;
   color: #119769;
   text-transform: uppercase;
   transition: all 0.1s;
   border-bottom: 3.5px solid #13746100;
   margin-top: 16px;
   padding: 0 0 8px 0;
}

.content-headings__button {
   font-size: 15px;
   font-weight: 600;
   line-height: 20px;
   letter-spacing: 0em;
   text-transform: uppercase;
   color: white;
   margin: 0 auto;
   height: calc(50px + 18 * (100vw / 1180));
   width: calc(145px + 25 * (100vw / 1180));
   background: #119769;
   border-radius: 3px;
   transition: all 0.3s;
   position: relative;
   overflow: hidden;
}

.content-headlings__button-image {
   position: absolute;
   bottom: calc(35px + 10 * (100vw / 1180));
   left: 12px;
   opacity: 0.4;
}

@media (max-width: 768px) {
   .content-headings__column:first-child {
      padding-bottom: 7px;
      margin-bottom: 10px;
   }
}

@media (min-width: 768px) {
   .content-headings__button:hover {
      background: #137461;
   }

   .content-headings__button:hover img {
      opacity: 1;
   }

   .content-headings__more:hover {
      margin-top: 16px;
      padding: 0 0 8px 0;
      border-bottom: 3.5px solid #137461;
   }
}

@media (max-width: 375px) {
}

/* ?news */
.news__wrapper {
   padding: 20px 0;
}

.news__content {
   max-width: 1180px;
   margin: 0 auto;
}

.content-news__column {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   border-bottom: 1px solid #e3f3ed;
   margin-bottom: 20px;
}

.content-news__title {
   font-family: Merriweather;
   font-size: calc(15px + 9 * (100vw / 1180));
   font-weight: 700;
   line-height: 130%;
   letter-spacing: 0em;
   text-align: left;
}

.content-news__more {
   font-size: calc(13px + 2 * (100vw / 1180));
   font-weight: 600;
   line-height: 100%;
   letter-spacing: 0em;
   text-align: right;
   color: #119769;
   text-transform: uppercase;
   transition: all 0.1s;
   border-bottom: 3.5px solid #13746100;
   padding: 0 0 8px 0;
   margin-top: 16px;
}

@media (min-width: 768px) {
   .content-news__more:hover {
      margin-top: 16px;
      padding: 0 0 8px 0;
      border-bottom: 3.5px solid #137461;
   }
}

@media (min-width: 1180px) {
   .news__wrapper {
      padding: 20px 14px;
   }
}

.content-news__blocks,
.content-news__blocks-column {
   display: flex;
   gap: 20px;
   justify-content: center;
}

@media (max-width: 1180px) {
   .content-news__column {
      margin: 0 14px 20px 14px;
   }
}

.content-news__blocks {
}

@media (max-width: 1200px) {
   .content-news__blocks {
      flex-wrap: wrap;
   }
}

.content-news__block:hover div,
.swiper-news__slide:hover div {
   color: #119769;
   max-width: 280px;
}

.content-news__preview {
   border-radius: 3px;
}

.content-news__news-title {
   font-size: calc(12px + 1 * (100vw / 1180));
   font-weight: 600;
   line-height: 18px;
   letter-spacing: 0em;
   text-align: left;
   color: rgba(17, 151, 105, 1);
   margin-right: 12px;
   display: inline-block;
   padding: 10px 0;
}

.content-news__date {
   font-size: calc(12px + 1 * (100vw / 1180));
   font-weight: 600;
   line-height: 18px;
   letter-spacing: 0em;
   text-align: left;
   color: #313131;
   opacity: 0.4;
}

.content-news__subtitle {
   font-size: calc(12px + 2.3 * (100vw / 1180));
   font-weight: 600;
   line-height: 130%;
   letter-spacing: 0em;
   text-align: left;
   color: #313131;
}

@media (min-width: 769px) {
   .content-news__swiper {
      display: none;
   }
}

@media (max-width: 768px) {
   .content-news__blocks {
      display: none;
   }
}

.swiper-news {
   margin-left: 14px;
}

.content-news__subtitle {
   max-width: 280px;
}

@media (max-width: 1200px) {
   .content-news__tv-preview {
      max-width: 280px;
   }
}

/* ?footer */

/**top-footer**/

.footer__top-wrapper {
   background-color: #119769;
   padding: 40px 14px;
   margin-top: 60px;
}

.footer__top-content {
   max-width: 1180px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: fit-content(380px) fit-content(269px) fit-content(249px);
   justify-content: space-between;
   gap: 25px;
}

.top-footer__block {
   font-size: 13px;
   font-weight: 600;
   line-height: 18px;
   letter-spacing: 0em;
   text-align: left;
   color: white;
   display: flex;
}

@media (max-width: 768px) {
   .footer__top-content {
      grid-template-columns: fit-content(380px);
      grid-template-rows: repeat(3 fit-content(300px));
      justify-content: center;
   }
}

/**bottom-footer**/

.footer__bottom-wrapper {
   background-color: #313131;
   padding: 40px 14px;
}

.footer__bottom-content {
   max-width: 1180px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: fit-content(380px) fit-content(269px) fit-content(249px);
   grid-template-rows: repeat(2, fit-content(300px));
   justify-content: space-between;
   gap: 25px;
}

.bottom-footer__block-title {
   font-size: 13px;
   font-weight: 600;
   line-height: 18px;
   letter-spacing: 0em;
   text-align: left;
   color: white;
   opacity: 0.4;
   margin-bottom: 7px;
}

.bottom-footer__block-content {
   font-size: 13px;
   font-weight: 600;
   line-height: 18px;
   letter-spacing: 0em;
   text-align: left;
   color: white;
}

.bottom-footer__block-name {
   font-size: 13px;
   font-weight: 600;
   line-height: 18px;
   letter-spacing: 0em;
   text-align: left;
   color: white;
   opacity: 0.2;
}

.bottom-footer__icon:not(:last-child) {
   margin-right: 7px;
}

@media (max-width: 860px) {
   .bottom-footer__icon {
      height: 25px;
   }
}

@media (max-width: 768px) {
   .footer__bottom-content {
      grid-template-columns: fit-content(320px);
      grid-template-rows: repeat(6 fit-content(300px));
      justify-content: center;
   }

   .bottom-footer__block:nth-child(6) {
      grid-row-start: 4;
   }

   .bottom-footer__icon {
      height: 30px;
   }

   .footer__bottom-content {
      gap: 15px;
   }

   .bottom-footer__block:nth-child(1),
   .bottom-footer__block:nth-child(2),
   .bottom-footer__block:nth-child(3),
   .bottom-footer__block:nth-child(6) {
      margin: 0 0 10px 0;
   }
}
